---
layout: archive
title: "Sitemap"
permalink: /sitemap/
author_profile: true
---

{% include base_path %}

Every page on the site. There is also an [XML sitemap]({{ base_path }}/sitemap.xml) for crawlers.

<h2>Pages</h2>
{% assign pages = site.pages | where_exp: "p", "p.title" | where_exp: "p", "p.url != '/404.html'" | sort: "title" %}
{% for post in pages %}
  {% include archive-single.html %}
{% endfor %}

{% for collection in site.collections %}
{% unless collection.output == false or collection.label == "posts" %}
  <h2 style="text-transform:capitalize">{{ collection.label }}</h2>
  {% for post in collection.docs %}
    {% include archive-single.html %}
  {% endfor %}
{% endunless %}
{% endfor %}
