{% include base_path %}

{% if page.previous or page.next %}
  <nav class="pagination project-pager" aria-label="More projects">
    {% if page.previous %}
      <a href="{{ base_path }}{{ page.previous.url }}" class="pagination--pager project-pager__link project-pager__link--prev"><span class="project-pager__label">&larr; Previous project</span><span class="project-pager__title">{{ page.previous.title | markdownify | strip_html }}</span></a>
    {% else %}
      <span class="pagination--pager project-pager__link is-empty"></span>
    {% endif %}
    {% if page.next %}
      <a href="{{ base_path }}{{ page.next.url }}" class="pagination--pager project-pager__link project-pager__link--next"><span class="project-pager__label">Next project &rarr;</span><span class="project-pager__title">{{ page.next.title | markdownify | strip_html }}</span></a>
    {% else %}
      <span class="pagination--pager project-pager__link is-empty"></span>
    {% endif %}
  </nav>
{% endif %}
